
build
debugpy
distlib
Faker
Flask
Flask-Login
Flask-Migrate
Flask-MySQLdb
Flask-SQLAlchemy
keras
mysql-connector-python
mysqlclient==2.0.0
nltk
numpy
pandas
Pillow
pip-tools
pyproject_hooks
python-dateutil
regex
requests
scikit-learn
SQLAlchemy
stack-data
sympy
tensorflow
virtualenv
wcwidth
Werkzeug
chardet
